
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #37474f;
  --color-secondary: #26c6da;
  --mdc-theme-primary: #37474f;
  --mdc-theme-secondary: #26c6da;
  @apply .dark;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

.btn-teal {
  @apply text-lg leading-6 font-medium text-gray-900 bg-teal-400 hover:bg-teal-500 hover:text-gray-700 px-4 py-2 rounded-lg transition ease-in-out duration-150;
}
.btn-teal-outline {
  @apply text-lg leading-6 font-medium text-gray-200 border-2 border-teal-500 hover:bg-teal-100 hover:bg-opacity-5 hover:text-gray-100 hover:border-teal-400 px-4 py-2 rounded-lg transition ease-in-out duration-150;
}
.btn-yellow {
  @apply text-lg leading-6 font-medium text-gray-900 bg-yellow-400 hover:bg-yellow-500 hover:text-gray-700 px-4 py-2 rounded-lg transition ease-in-out duration-150;
}
.btn-yellow-outline {
  @apply text-lg leading-6 font-medium text-gray-200 border-2 border-yellow-400 hover:bg-yellow-100 hover:bg-opacity-10 hover:text-gray-100 hover:border-yellow-400 px-4 py-2 rounded-lg transition ease-in-out duration-150;
}