@import '../src/styles/tailwind.css';
@import '../src/styles/compiled-tailwind.css';

:root {
  --color-primary: #37474f;
  --color-secondary: #26c6da;
  --mdc-theme-primary: #37474f;
  --mdc-theme-secondary: #26c6da;
}

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Write your own custom component styles here */
